# Python
__pycache__/
*.py[cod]
*$py.class
.python-version

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# System
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite

# Byte-compiled / optimized files
*.pyc
*.pyo

# Build files
build/
dist/
*.egg-info/
